@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #F0EAEE,#E4D8DC );
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    background-color:#CFC0C5 ;
    text-align: center;
    border-radius: 10px;
}